<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.LoginMapper">
	<!-- 네이버 로그인 -->
	<insert id="insert" parameterType="vo.UsersVO">
	<selectKey resultType="string" keyProperty="user_id" order="BEFORE">
      		SELECT SYS_GUID() FROM DUAL     
    	</selectKey>
		INSERT INTO USERS
		values (#{user_id}, #{email}, #{name}, #{gender}, #{password}, 0)
	</insert>
	
	<!-- 네이버 로그인 정보 -->
	<select id="selectId" resultType="vo.UsersVO">
		SELECT user_id FROM USERS WHERE USER_ID = #{user_id}
	</select>
	
	<!-- isLogin -->
	<select id="login" parameterType="vo.UsersVO" resultType="vo.UsersVO">
		SELECT * FROM USERS WHERE EMAIL = #{email} and PASSWORD = #{password}
	</select>
	
	<!--Email중복-->
	<select id="searchEmail" parameterType="string" resultType="vo.UsersVO">
		SELECT * FROM USERS WHERE EMAIL = #{email}
	</select>
	
	<!--닉네임중복  -->
	<select id="searchName" parameterType="string" resultType="vo.UsersVO">
		SELECT * FROM USERS WHERE NAME = #{name}
	</select>
</mapper>